label {
    color: whitesmoke;
}
#client-data {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #2f2f2f;
    border-radius: 5px;
    color: whitesmoke;
}

#file-content {
    white-space: pre-wrap;
    background-color: #2f2f2f;
    padding: 10px;
    border-radius: 5px;
    max-height: 65vh;
    overflow-y: auto;
    color: whitesmoke;
}

#bot-view-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#timer-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
    margin: 0;
}

button {
    background-color: #5773FF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 36px;
}

button:hover {
    background-color: #4960ff;
}

input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.log-container {
    font-family: monospace;
    white-space: pre-wrap;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: auto;
}

.log-line {
    display: flex;
}

.line-number {
    color: #888;
    margin-right: 10px;
    text-align: right;
    width: 50px;
    flex-shrink: 0;
}

.line-content {
    flex-grow: 1;
}

#command-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.required_fields {
    color: red;
}

/* Style the shell container */
.shell-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2f2f2f;
}

/* Wrapper for the cwd-display and shell-input */
#shell-input-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #fff;*/
    padding: 5px;
}

/* Style the cwd-display */
#cwd-display {
    font-family: monospace;
    font-size: 14px;
    color: #555;
    margin-right: 5px;
    white-space: nowrap;
    color: greenyellow;
}

/* Style the shell input */
#shell-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-family: monospace;
    font-size: 14px;
    padding: 5px;
    background-color: transparent;
    color: whitesmoke;
}

/* Style the send button */
#send-shell-command {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #5773FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-shell-command:hover {
    background-color: #4960ff;
}